 
 <style type="text/css">


.widget_legend {
  width: 5px;
  height: 5px;
  margin-bottom: 1px;
  margin-right: 5px;
 
  display: inline-block;

  /*
  -moz-box-shadow: 0px 0px 2px 1px #2d2d2d;
  -webkit-box-shadow: 0px 0px 2px 1px #2d2d2d;
   box-shadow: 0px 0px 2px 1px #2d2d2d;

    */
}




 </style>
 


<md-dialog   plumb-item >

<md-content >




    <div  class="tabsdemoStaticTabs sample" style="width: 600px; height: 300px;" >
    
        

              <div  flex="10">
                             <span>
                                 <md-button  ng-click="remove()"  aria-label="Close" style="left: 83%">
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
                                 </md-button>
                             </span>
                          </div> 

<md-divider> </md-divider>
        
 <md-button  class="md-raised md-primary" ng-click="getdetail()" ng-show="buttonshow" style="top: 100px; left: 35%;">Show the Widget</md-button>
 
      	
<div ng-show="viewshow">
	


	<div id="metric0" style="width:19%;height:75px;display:inline-block;text-align:center;vertical-align:top;">

	<div style="font-size:20px;font-weight:bold;margin-top:20px;margin-bottom:4px;">

	<span class="ctotals_inner">{{fblikes}}</span>
	</div>
	<div style="font-size:10px;text-transform:uppercase;">

	<div class="widget_legend" style="background:#ff5252;">
		
	</div>Like</div>

	</div>



<div id="metric1" style="width:19%;height:75px;display:inline-block;text-align:center;vertical-align:top;">

<div style="font-size:20px;font-weight:bold;margin-top:20px;margin-bottom:4px;">
<span class="ctotals_inner">{{fbviews}}</span>
</div>
<div style="font-size:10px;text-transform:uppercase;">
<div class="widget_legend" style="background:#c7b700;">
	
</div>Views
</div>
</div>

 <div id="metric2"  style="width:19%;height:75px;display:inline-block;text-align:center;vertical-align:top;">
 <div style="font-size:20px;font-weight:bold;margin-top:20px;margin-bottom:4px;">
 <span class="ctotals_inner">{{fbnewlike}}
 </span>
 </div>
 <div style="font-size:10px;text-transform:uppercase;">
 <div class="widget_legend" style="background:#ff7e0e;">
 	
 </div>New Likes</div>
 </div>


<div id="metric3"  style="width:19%;height:75px;display:inline-block;text-align:center;vertical-align:top;">
<div style="font-size:20px;font-weight:bold;margin-top:20px;margin-bottom:4px;">
<span class="ctotals_inner"> {{fbengage}}
</span>
</div>
<div style="font-size:10px;text-transform:uppercase;">
<div class="widget_legend" style="background:#52c4ff;">
	
</div>Range
</div>
</div>


<div id="metric4"  style="width:19%;height:75px;display:inline-block;text-align:center;vertical-align:top;">
<div style="font-size:20px;font-weight:bold;margin-top:20px;margin-bottom:4px;">
<span class="ctotals_inner"> {{fbwerehere}}
</span>
</div>
<div style="font-size:10px;text-transform:uppercase;">
<div class="widget_legend" style="background:#2fd75b;"></div>were here</div></div>
</div>



      	

    
       
  



 
  
  
    </div>

    </md-content>

</md-dialog>

