<md-dialog class="dialogdemoBasicUsage" aria-label="Manage Activities">
    <md-toolbar class="modal-header" md-theme="white">  
       <h1> Plugins</h1>
</md-toolbar>

    <md-content>
        <div layout="row" layout-align="center start" style="padding:15px;">
            <div flex>
                <md-input-container flex>
                    <label><img src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg" class="face-radius" alt="">&nbsp;Search Plugins</label>
                    <input ng-model="searchitem">
                </md-input-container>
                <md-list flex>
                    <md-item ng-click="setPlugin(item)" ng-repeat="item in activitylist | filter : searchitem">
                        <md-item-content     >
                            <div class="md-tile-left">
                                  <image class="bottomsheetbuttons" height="42" width="42" src="{{item.icon}}"></image>               
                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.Name}}</h3>
                                <p>{{item.Description}}</p>
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                     <md-divider></md-divider>
                </md-list>
            </div>
        </div>
    </md-content>
   
    <div class="md-actions" layout="row">
        <md-button ng-click="cancel()">Close</md-button>    
    </div>
</md-dialog>