      <div class="h_iframe">  
        <img class="ratio" src="http://www.brightontheday.com/wp-content/uploads/2013/07/placeholder300.png"/>
        <iframe frameborder='0' ng-src="{{trustSrc(AnalyticsDashboardURL)}}"   frameborder="0" allowfullscreen></iframe>
      </div>
           
            