<md-dialog   plumb-item >
  <md-toolbar class="modal-header" md-theme="white">  
       <h1>Add widget</h1>
</md-toolbar>

   <md-content   style="height:600px">
       <md-sidenav id="toolbox" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">

        <md-list>
         <md-divider   ng-repeat="item in WidgetTypes" >
            <md-item ng-init="filterWidgets(item)" ng-click="filterWidgets(item)">
                <a  >
                    <md-item-content  md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-src="{{item.icon}}"></md-icon>
                            <md-tooltip md-direction="right">{{item.title}}</md-tooltip>
                        </div>
                  
                    </md-item-content>
                </a>
               
            </md-item>
          </md-divider>
         </md-list>
           </md-sidenav>
     <div layout="row" layout-margin>
                 
   <div   flex="10">

         </div>
         <div   flex = "80">
           <md-list>
   
      <md-list-item   class="md-3-line"  ng-repeat="widget in Widgets | filter : selected">
       <div layout="row" layout-margin>
        <div flex="60">
        <img ng-src="{{widget.icon}}" class="md-avatar" alt="{{widget.title}}">

        <div  class="md-list-item-text">
          <h4>{{ widget.title }}</h4>
          <h5>{{ widget.Description }}</h5>
        <!--   <p>{{ item.notes }}</p> -->
        </div>
        </div>
        <div flex="20">
         <md-button style="width:100px"  ng-click="addAllinOne(widget.title)"   class="md-raised">
          Add
         </md-button>
        </div>

        </div>
        <md-divider></md-divider>
      </md-list-item>
      

    </md-list>
      
     
  
         </div>
       </div>
    </md-content>
   
</md-dialog>