<md-bottom-sheet class="md-grid">
  <md-list>
    <md-item ng-repeat="item in items">
      <md-button  class="md-grid-item-content md-primary md-raised" aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <div  class="md-icon-container">
          <md-icon class="setticon" md-svg-src="{{item.icon}}"></md-icon>
        </div>
        <p class="md-grid-text"> {{ item.name }} </p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>