<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DuoDigin-Redefining Analytics</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">  
  <link href="styles/css/material-wfont.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
	<link rel="shortcut icon" href="http://duosoftware.atlassian.net/s/en_US-xr35dg/64005/22/_/favicon.ico">
  <link rel="stylesheet" href="styles/css/pivot.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylsheet" type="text/css"  href="styles/css/pivot.css" />
  <link rel="stylesheet" type="text/css" href="styles/css/style.css">
  <link rel="stylesheet" type="text/css" href="styles/css/admin1.css">
 	<link rel="apple-touch-icon" href="../../assets/globals/img/icons/apple-touch-icon.png">
</head>
<body plumb-item ng-controller="NavCtrl" ng-app="DuoDiginRt" >
    <script type="text/javascript" src="scripts/fbSDK.js"></script> 
  <script type="text/javascript" src="scripts/fbSDK.js"></script> 
  <div id="fb-root"></div>
		<div class="nav-menu">			
			 <md-item ng-repeat="item in menu" >      
                <md-button style="min-width:0px;"  md-ink-ripple   ng-click="$parent.navigate(item.title)" layout="row" layout-align="start center">
                    <md-icon md-svg-src="{{item.icon}}"></md-icon>
                    <md-tooltip   md-direction="right">{{item.title}}</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-item>
		</div>
        <div  ui-view layout="column" id="content1">
		
		
    </div>
  	<div class="nav-bar-border">
    </div>
		<div class="overlay">
			<div class="starting-point">
				<span></span>
			</div>
		</div> 
		<div class="overlay-secondary"></div>
 
  <div class="nav-search">
      <span class="search"></span>
    </div>
    <div class="search-layer">
      <div class="search">
        <form action="http://teamfox.co/themes/pleasure/app/admin1/pages-search-results.html">
          <div class="form-group">
            <input type="text" id="input-search" class="form-control" placeholder="type something">
            <button type="submit" class="btn btn-default disabled"><i class="ion-search"></i></button>
          </div>
        </form>
      </div>
      <div class="results">
        <div class="row">
          <div class="col-md-4">
		  <!--button type="submit" class="btn btn-default" ng-click="GetDshboardDetails()"><i class="ion-search"></i></button---->
            <div class="result result-users"onload="GetDshboardDetails()" >
              <h4 style="font-family:inherit;font-weight:300;font-size:23px;">Dashboards <small>({{ExistingDashboardDetails.length}})</small></h4>
              <ul class="list-material">
                <li class="has-action-left" ng-repeat="x in ExistingDashboardDetails | filter:searchText">
                  <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                  <a href="#" class="visible">
                     <div class="list-action-left" style="border-bottom:rgba(0,0,0,0.5); font-size:20px; color:#FFFFFF">
                      <img src="bower_components/material-design-icons/action/svg/production/ic_dashboard_24px.svg" class="face-radius" alt="">
                      <span class="title">{{x.dashboardName}}</span>
                      </div>
                      
                  </a>
                </li>
               
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="result result-posts"onload="GetReportDetails()">
			
              <h4 style="font-family:inherit;font-weight:300;font-size:23px;">Reports <small>({{ExistingreportDetails.length}})</small></h4>
              <ul class="list-material">
                <li class="has-action-left" ng-repeat="x in ExistingreportDetails |filter:searchText">
                  <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                  <a href="#" class="visible">
                    <div class="list-action-left"  style="color:#FFFFFF;border-bottom:rgba(0,0,0,0.5); font-size:20px;">
                      <img src="bower_components/material-design-icons/device/svg/production/ic_dvr_24px.svg" class="img-radius" alt="">
                      <span class="title">{{x.name}}</span>
                      
                    </div>
                  </a>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div   class="layer-container">	
		<div ng-repeat="pannel in menuPanels" ng-controller="pannel" class="menu-layer">
       <div ng-if="currentView=='Dashboard' ">
			 <ul ng-repeat="item in dashboardmenu">			  
          <li  ng-click="doFunction(item.title)" >
          <a >{{item.title}} </a>           
        </li>			 
		 	 </ul> 
       </div>    
         <div ng-if="currentView=='Reports'">
         </div>
        <div ng-if="currentView=='Analytics'">
        <ul ng-repeat="item in analyticsmenu">
          <li ng-click="doFunction(item.title)" >
          <a >{{item.title}} </a>           
        </li>      
       </ul> 
       </div>    
       <div ng-if="currentView=='RealTime'">
       <ul ng-repeat="item in realtimeMenu">       
          <li ng-click="doFunction(item.title)"  >
          <a >{{item.title}} </a>                   </li>
       </ul> 
       </div>    
       <div ng-if="currentView=='Template'">
       <ul ng-repeat="item in templateMenu">       
          <li  >
          <a >{{item.title}} </a>           
        </li>      
       </ul> 
       </div>  
       
		</div>
	</div>	
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/jquery-ui-1.9.2-min.js"></script>
    <script type="text/javascript" src="scripts/vendor/jquery.jsPlumb-1.4.1-all-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="scripts/vendor/highcharts-ng.js"></script>  
    <script src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="scripts/vendor/highcharts.js"></script>  
    <script src="bower_components/angular-material/angular-material.js"></script>  
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src=" bower_components/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="scripts/vendor/oauth.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="scripts/vendor/global-vendors.js"></script>
    <script type="text/javascript" src="scripts/vendor/pleasure.js"></script>
    <script type="text/javascript" src="scripts/vendor/layout.js"></script>    
    <script type= "text/javascript" src="scripts/vendor/respond.js"></script>      
    <script type= "text/javascript" src="scripts/vendor/touch.js"></script> 
    <script type= "text/javascript" src="scripts/vendor/angular-socialshare.min.js"></script>  
    <script type="text/javascript" src="scripts/vendor/angular-css-injector.js"> </script>     
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/98887/angular-fullscreen.js"></script>
 
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/pivot.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>      
    <script type="text/javascript" src="scripts/controllers/analyticsCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/Realtimecontroller.js"></script> 
    <script type="text/javascript" src="scripts/controllers/summarizeCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/DashboardCtrl.js"></script>
    <script type="text/javascript" src="scripts/directives/plumbItem.js"></script>
    <script type="text/javascript" src="scripts/directives/postRender.js"></script>		
    <script type="text/javascript" src="scripts/controllers/chartSettingsCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/elasticController.js"></script>
    <script type="text/javascript" src="scripts/directives/resizeable.js"></script>
    <script type="text/javascript" src="scripts/directives/droppable.js"></script>
    <script type="text/javascript" src="scripts/directives/draggable.js"></script>
    <script type="text/javascript" src="scripts/directives/validNumber.js"></script>
    <script type="text/javascript" src="scripts/controllers/ReportCtrl.js"></script>
    <script type="text/javascript" src="scripts/services/ReportService.js"></script>
    <script type="text/javascript" src="scripts/controllers/ExportCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/shareCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/dataCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/saveCtrl.js"></script>    
    <script type="text/javascript" src="scripts/controllers/successCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/errorCtrl.js"></script> 
    <script type="text/javascript" src="scripts/services/Dashboard.js"></script>   
    <script type="text/javascript" src="scripts/controllers/newWidgetCtrl.js"></scripti    
    <script type="text/javascript" src="scripts/controllers/ShowTableCtrl.js"></script>
    <script type="text/javascript" src="scripts/services/RealTimeService.js"></script>   
    <script type="text/javascript" src="scripts/services/AnalyticsService.js"></script>
    <script type="text/javascript" src="scripts/controllers/SocialMediaCtrl.js"></script>
      <script type="text/javascript" src="scripts/vendor/uimicrokernel.js"></script>
    <script>
	$(document).ready(function () {	 
		Layout.init();
	});
	</script>
</body> 
</html>