<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">  
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/css/style.css">
  <link rel="stylesheet" type="text/css" href="styles/css/custom_login.css">
</head>

<!-- apply our angular app to our site -->
<body ng-app="diginLogin" ng-controller="LoginCtrl">
<div class="test">
  <div class="overlay"></div>
      <div class="content main-container" layout="row" layout-align="center center" layout-fill>
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="min-width:320px;">
           <div layout="column" style="width:100%;">              
                <div>                  
                  <img src="styles/css/images/digin.png" alt="app logo">
                </div>
              <md-divider></md-divider>
              <div layout="column" style="padding:20px;" >
                  <md-input-container flex>
                    <label><span class="fa fa-user"></span>&nbsp;&nbsp;Username</label>
                    <input ng-model="currentUser">
                  </md-input-container>
                  <md-input-container flex>
                    <label><span class="fa fa-lock"></span>&nbsp;&nbsp;Password</label>
                    <input type="password" ng-model="password">
                  </md-input-container>
                  <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
                  <md-button class="md-raised md-primary" ng-click="login1()">Pentaho</md-button>                  
              </div>
              <md-toolbar class="md-warn" md-scroll-shrink ng-hide="errorDiv">
                <div class="md-toolbar-tools">
                  <h4>
                      <span>{{errorMsg}}</span>
                  </h4>                  
                  </div>
              </md-toolbar>
          </div>
        </md-whiteframe>
    </div>
</div>
</body>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>  
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="scripts/controllers/login.js"></script>
</html>